.header {
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
}

.header h1 { 
  padding-top: 40px; 
  padding-bottom: 40px; 
}

.header a:hover { 
  opacity: 1; 
}

.star-gold {
  color: #FFD700;
}

.star-gold:hover {
  text-shadow: 0px 0px 2px darkorange;
}

.header a {
    color: #fff;
    opacity: 0.8;
    filter: Alpha(opacity=50);
}

.header-success { color: #fff; background-color: #3C763D; }
.header-danger  { color: #fff; background-color: #A94442; }
.header-info    { color: #fff; background-color: #31708F; }
.header-warning { color: #fff; background-color: #f0ad4e; }
.header-primary { color: #fff; background-color: #337ab7; }
.header-default { color: #fff; background-color: #333; }

.header-success h1 { color: #fff; }
.header-danger h1  { color: #fff; }
.header-info h1    { color: #fff; }
.header-warning h1 { color: #fff; }
.header-primary h1 { color: #fff; }
.header-default h1 { color: #fff; }

.navbar-nav > .active > a {
    background-repeat: repeat-x;
    background-color: rgba(54, 25, 25, .3);
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25) inset;
}

.navbar .navbar-nav > li > a {
    text-shadow: none;
}

.navbar .navbar-nav > li:hover > a {
    background-color: transparent;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
}

.navbar .navbar-nav > li:hover > a,
.navbar .navbar-nav > li:active > a,
.navbar .navbar-nav > li:selection > a,
.navbar .navbar-nav > li:focus > a,
.navbar .navbar-nav > li:visited > a {
    background-color: transparent;
}

.content-underlay {
    padding-bottom: 100px;
    margin-bottom: -100px;
}

.pointer:hover {
  cursor: pointer
}

body { 
  padding-top: 50px; 
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Arvo', serif; 
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { 
  font-size: 55%; 
}

*[data-hover="item"] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}

*[data-hover="group"]:hover *[data-hover="item"] {
  visibility: visible;
  opacity: 1;
}

footer.footer {
	background-color: #ddd;
	margin: 20px 0px 0px;
    padding: 30px 0px;
}

.panel:after,.panel:before{
	position:absolute;
	top:18px;left:-0px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel:after{
	border-width:7px;
	border-right-color:#fff;
	margin-top:1px;
	margin-left:2px;
}
.panel:before{
	border-right-color:#ddd;
	border-width:8px;
}

.profile-image  {
	padding-top: 0px;
	padding-bottom: 0px;
}

.profile-image > img 
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

.right {
    position: absolute;
    right: 0px;
}

.profile-wrapper{
	margin-top: 20px;
	padding-right: 30px;
	padding-bottom: 50px;
	border-right: solid 2px #ccc;
}

img.photo-xs-profile{ max-width: 30px; max-height: 30px; }
img.photo-sm-profile{ max-width: 60px; max-height: 60px; }
img.photo-md-profile{ max-width: 120px; max-height: 120px; }
img.photo-lg-profile{ max-width: 180px; max-height: 180px; }

ul.errorlist {
  padding: 0px;
  margin: 0px;
}
ul.errorlist li {
  list-style-type: none;
}

