{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="row">
  <div class="col-sm-3 profile-wrapper">
    <div class="row">
      <img src="{{MEDIA_URL}}{{profile.picture|default:'user-default.png'}}" class="img-responsive img-thumbnail photo-md-profile pull-right">
    </div>
    <div class="row text-right">
      <h4>{{profile.user.first_name|default:profile.user.username}} {{profile.user.last_name}}</h4>
      <p><i class='fa fa-globe fa-fw'></i> <a href="{{profile.site}}">{{profile.site}}</a></p>
    </div> 
  </div>

  <div class="col-sm-9">
    <h2 class="page-header">{{profile}}</h2>
    <p>{{profile.bio}}</p>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1default" data-toggle="tab"><i class="fa fa-pencil fa-fw"></i> Posts</a></li>
      <li><a href="#tab2default" data-toggle="tab"><i class="fa fa-comment fa-fw"></i> Comments</a></li>
      <li><a href="#tab3default" data-toggle="tab"><i class="fa fa-star fa-fw"></i> Recommends</a></li>
      <li><a href="#tab4default" data-toggle="tab"><i class="fa fa-thumbs-up fa-fw"></i> Likes</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab1default">
      <p>Posts</p>
      </div>
      <div class="tab-pane fade" id="tab2default">Comments</div>
      <div class="tab-pane fade" id="tab3default">Recommends</div>
      <div class="tab-pane fade" id="tab4default">Likes</div>
    </div>
  </div>
</div>
     
{% endblock %}