{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12 text-center page-header">
    <p><img class="img-circle img-thumbnail photo-lg-profile" src="{{MEDIA_URL}}/{{owner.userprofile.picture|default:'user-default.png'}}"></p>
    <h2>{{owner.first_name|default:"nome"}} {{owner.last_name|default:"sobrenome"}}</h2>
    <p class="text-muted">{{owner.username}}</p>
    <p><strong>Bio:</strong> {{owner.userprofile.bio}}</p>
  </div>
  <div class="col-xs-12 text-center">
    <div class="btn-group" role="group" aria-label="...">
      {% for social in  owner.social_set.all %}
        <a href="{{social.social_network.url}}{{social.profile}}" class="btn btn-default"><i class='fa fa-{{social.social_network.icon}} fa-fw'></i> {{social.social_network.name}}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
