{% extends "base.html" %}

{% block page_header %}
  <div class="row header">
    <div class="container">
        <h1><i class="fa fa-flag fa-fw"></i> Categories</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% for category in object_list %}
      <p>
        <a href="{{category.get_absolute_url}}">{{category.name}}</a>
        <span class="pull-right">
          <i class="fa fa-plus fa-fw text-muted pointer" data-toggle="collapse" aria-expanded="false" aria-controls="collapse{{category.pk}}" data-target="#collapse{{category.pk}}"></i>
        </span>
      </p>
      <div class="progress">
        <div class="progress-bar progress-bar-{{category.color}}" role="progressbar" aria-valuenow="{{category.percent_representation|floatformat:'0'}}" aria-valuemin="0" aria-valuemax="100" style="width: {{category.percent_representation|floatformat:'0'}}%;">
          <strong>{{category.percent_representation|floatformat:"0"}}%</strong>
        </div>
      </div>

      <div class="collapse" id="collapse{{category.pk}}">
        {% for post in category.posts.all %}
          <p><a href="{{post.get_absolute_url}}">{{post.title}}</a> <span> by {{post.publisher.username}} at {{post.published_at}}</span></p>
        {% endfor %}
        <hr>
      </div>
  {% endfor %}
{% endblock%}