{% extends "base.html" %}
{% load humanize %}
{% block title %} {{ category.name }} {% endblock %}

{% block page_header %}
  <div class="row header header-{{category.color}} content-underlay">
    <div class="container">
        <h1 class="text-{{category.color}}">{{category.name}}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
  	{% for post in category.posts.all %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/460x200" alt="">
          <div class="caption">
            <h3>{{post.title}}</h3>
            <p>{{post.resume|safe}}</p>
            <p><a href="{{post.get_absolute_url}}">Continue lendo...</a></p>
          </div>
        </div>
      </div>
  	{% endfor %}
  </div>
{% endblock %}