{% extends "base.html" %}
{% block content %}
{% load bootstrap %}
<div class="container">  
  <div class="row">
    <div class="col-xs-12">
    <div class="page-header">
      <h1>Contact us <small>Feel free to contact us</small></h1>
    </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST">
                {% csrf_token %} 
              
                {% for field in form %}
                    <div class="form-group {%  if field.errors %}has-error has-feedback{% endif %}">
                        
                        <label for="{{ field.id_for_label }}" class="control-label">
                            {{ field.label }}
                            {%  if field.help_text %} 
                                <i class="fa fa-question-circle text-muted" data-toggle="tooltip" data-placement="right" title="{{ field.help_text }}"></i>
                            {% endif %}
                        </label>
                         
                        {{ field|attrs:"class:form-control" }}
                        
                        {%  if field.errors %} 
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            <div class="text-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary pull-right" id="btnContactUs"><i class="fa fa-paper-plane"></i> Send</button>
                  
            </form>
        </div>
        <div class="col-md-6">
            <form>
            <legend><span class="fa fa-globe"></span> Our office</legend>
            <address>
                <strong>Twitter, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">
                    P:</abbr>
                (123) 456-7890
            </address>
            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
            </form>
        </div>
    </div>
</div>
{% endblock %}
