<div class="row">
  <nav class="text-center">
    <ul class="pagination">
      {% if show_first %}
        <li><a href="?page=1" data-toggle="tooltip" data-placement="top" title="Primeira"><i class="fa fa-angle-double-left fa-fw"></i></a></li>
      {% endif %}

      {% if has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" data-toggle="tooltip" data-placement="top" title="Anterior">
            <span aria-hidden="true"><i class="fa fa-angle-left fa-fw"></i></span>
          </a>
        </li>
      {% endif %}

      {% for one_page in page_numbers %}
        {% ifequal one_page page %}
            <li class="active"><a href="">{{ page }}</a></li>
        {% else %}
            <li><a href="?page={{ one_page }}">{{ one_page }}</a></li>
        {% endifequal %}
      {% endfor %}
      
      {% if has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}" aria-label="Next" data-toggle="tooltip" data-placement="top" title="Próxima">
            <span aria-hidden="true"><i class="fa fa-angle-right fa-fw"></i></span>
          </a>
        </li>
      {% endif %}

      {% if show_last %}
          <li><a href="?page=last" data-toggle="tooltip" data-placement="top" title="Última"><i class="fa fa-angle-double-right fa-fw"></i></a></li>
      {% endif %}
    </ul>
  </nav>
</div>