{% extends "base.html" %}
{% block title %} Meu Blog {% endblock %}
{% block page_header %}
  <div class="row header content-underlay">
    <div class="container">
        <h1>Meu Blog</h1>
    </div>
  </div>
{% endblock %}
{% block content %}
		<div class="row">
      <div class="col-xs-12 col-sm-9">
  		  {% include 'core/partials/_posts.html' %}
  		</div>
      <div class="col-xs-12 col-sm-3">
        <h4><i class="fa fa-flag fa-fw"></i> Categorias</h4>
        <aside>
          <ul class="nav nav-pills nav-stacked">
            {% for category in category_list %}
              <li>
                <a href="{{category.get_absolute_url}}">{{category.name}}</a>
              </li>
            {% endfor %}
          </ul>
        </aside>
        <h4><i class="fa fa-tags fa-fw"></i> Tags</h4>
        <aside>
          <ul class="nav nav-pills nav-stacked">
            {% for tag in tag_list %}
              <li>
                <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
              </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
    </div>
{% endblock %}