{% extends "base.html" %}
{% load humanize %}
{% load filters %}
{% block title %} {{ post.title }} {% endblock %}

{% block page_header %}
	<div class="row">
    <div class="container">
  		<div class="page-header">
  		  <h1>{{post.title}}</h1>
        <p class="text-muted">
          <i class='fa fa-user fa-fw'></i> <a href="{{post.publisher.userprofile.get_absolute_url}}">{{ post.publisher }}</a> 
          <i class='fa fa-history fa-fw'></i> <span class="text-muted" data-toggle="tooltip" data-placement="top" title="{{post.published_at}}">{{ post.published_at|naturaltime }}</span>
          <i class='fa fa-flag fa-fw'></i> <a href="{{post.category.get_absolute_url}}" class="text-{{post.category.color}}">{{post.category}}</a>
          {% load pageviews_tags %}  | <i class="fa fa-eye fa-fw"></i> {% pageviews_url post.get_absolute_url %} page views
          <span class="pull-right">
            <span id="total_recommends_post_{{post.pk}}">{{post.recommends.all|length}}</span>
            <i id="recommend_post_{{post.pk}}" 
                class="star-gold pointer fa fa-star{% if not user|is_post_recommended:post %}-o{% endif %}" 
                onclick="Dajaxice.core.recommend_post(recommend_post, {'pk': {{post.pk}} })"
                data-animation="rotateIn"
                data-toggle="tooltip" data-placement="top" title="{% if user|is_post_recommended:post %}Recomendado{% else %}Recomendar{% endif %}"
                >
            </i>
          </span>
        </p>
  		</div>
  	</div>
  </div>
{% endblock %}

{% block content %}
	<article>
		<p>{{ post.content|safe }}</p>
	</article>

  {% include 'core/partials/_comments.html' %} 
  
{% endblock %}


{# phillips
protocolo: 3151188 #}