{% extends "base.html" %}
{% load humanize %}

{% block page_header %}
  <div class="row header">
    <div class="container">
        <h1><i class="fa fa-tags fa-fw"></i> Tags</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% for tag in object_list %}
      <p>
        <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
        <span class="text-muted pull-right">
          {{tag.posts.all|length}} posts 
          <i class="fa fa-plus fa-fw text-muted pointer" data-toggle="collapse" aria-expanded="false" aria-controls="collapse{{tag.pk}}" data-target="#collapse{{tag.pk}}"></i>
        </span>
      </p>
      <div class="progress">
        <div class="progress-bar progress-bar-{{tag.color}}" role="progressbar" aria-valuenow="{{tag.percent_representation|floatformat:'0'}}" aria-valuemin="0" aria-valuemax="100" style="width: {{tag.percent_representation|floatformat:'0'}}%;">
          <strong>{{tag.percent_representation|floatformat:"0"}}%</strong>
        </div>
      </div>

      <div class="collapse" id="collapse{{tag.pk}}">
        {% for post in tag.posts.all %}
          <p><a href="{{post.get_absolute_url}}">{{post.title}}</a> <span class="pull-right text-muted"> <i class="fa fa-user fa-fw"></i> {{post.publisher.username}} <i class="fa fa-history fa-fw"></i> {{post.published_at|naturaltime}}</span></p>
        {% endfor %}
        <hr>
      </div>
  {% endfor %}
{% endblock%}