{% load active_menu %}
{% load dajaxice_templatetags %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Blog{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}font-awesome-4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{STATIC_URL}}style.css">
    <link rel="stylesheet" href="{{STATIC_URL}}animate.css">
    
    {% dajaxice_js_import %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-fixed-top 
      {% if tag.color %} header header-{{tag.color}}
      {% elif category.color %} header header-{{category.color}} 
      {% else %} navbar-inverse {% endif %}">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'post-list' %}">Meu Blog</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{{ request|active:'category-list' }}"><a href="{% url 'category-list' %}">Category</a></li>
            <li class="{{ request|active:'tag-list' }}">     <a href="{% url 'tag-list' %}">Tags</a></li>
            <li class="{{ request|active:'about' }}">        <a href="{% url 'about' %}">About</a></li>
            <li class="{{ request|active:'contact' }}">      <a href="{% url 'contact' %}">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown" role="button" aria-expanded="false">
                {% if user.is_authenticated %}
                  <img src="{{MEDIA_URL}}/{{user.userprofile.picture|default:'user-default.png'}}" class="img-circle photo-xs-profile">
                {% else %}
                  Plase, Login
                {% endif %} 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                {% if user.is_authenticated %}
                  <li><a href="{% url 'profile-detail' user.username %}"><i class="fa fa-user fa-fw"></i> Profile</a></li>
                  <li><a href="/admin/logout?next={% url 'post-list' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                  {% if user.is_superuser %}
                    <li><a href="/admin"><i class="fa fa-dashboard fa-fw"></i> Site Admin</a></li>
                  {% else %}
                    <li class="disabled"><a><i class="fa fa-dashboard fa-fw"></i> Site Admin</a></li>
                  {% endif %}
                {% else %}
                  <li><a href="/admin/login?next={% url 'post-list' %}"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block page_header %}{% endblock %}

    <div class="container">
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
      </div>
    {% endif %}
    {% block content %}{% endblock %}
    </div>
    <footer class='footer'>
      <div class="row">
        <div class="col-lg-12">
          <div class="container">
            <p>Copyright © <a href="http://valberto.com">valberto.com</a> 2015</p>
          </div>
        </div>
      </div><!-- /.row -->
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script src="{{STATIC_URL}}dajax/jquery.dajax.core.js"></script>
    <script src="{{STATIC_URL}}scripts.js"></script>
  </body>
</html>