{% load humanize %}
{% load filters %}
{% load bootstrap %}
  <div class="row">
    <div class="col-xs-12">
      <h4 class="page-header" id="comments"><i class="fa fa-comments fa-fw"></i> Comentários ({{ post.comments.all|length }})</h4>
    </div>
  </div>

<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-1 text-center">
    <img class="img-circle photo-sm-profile" src="{{MEDIA_URL}}/{{user.userprofile.picture|default:"user-default.png"}}">
    <p>{{user.get_username}}</p>
  </div><!-- /col-sm-1 -->

  <div class="col-xs-10 col-sm-10 col-md-11">
    <form action="" method="POST">
    {% csrf_token %} 
    {% for field in form %}

      <div class="form-group {%  if field.errors %}has-error has-feedback{% endif %}">
           
          {{ field|attrs:"class:form-control, placeholder:Deixe um comentário aqui..., rows:2" }}
          
          {%  if field.errors %} 
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <span id="inputError2Status" class="sr-only">(error)</span>
              <div class="text-danger">{{ field.errors }}</div>
          {% endif %}
      </div>


    {% endfor %}
      <button class="btn btn-primary"><i class="fa fa-comment fa-fw"></i> Comentar</button>
    </form>
  </div>
</div>
<hr>
{% if not post.comments.all %}
  <div class="row">
    <div class="col-xs-12">
      <p class="text-info">Nenhum comentário.</p>
    </div>
  </div>
{% endif %}

{% for comment in post.comments.all %}
	<div class="row">
  	<div class="col-xs-2 col-sm-2 col-md-1 text-right">
    	<img class="img-circle photo-sm-profile right" src="{{MEDIA_URL}}/{{comment.publisher.userprofile.picture}}">
  	</div><!-- /col-sm-1 -->

  	<div class="col-xs-10 col-sm-10 col-md-11">
    	<div class="panel panel-default">
        <div class="panel-body" data-hover="group">
          <div class="dropdown pull-right">
            <i data-hover="item" 
                class="pointer text-muted fa fa-chevron-down fa-fw dropdown-toggle" 
                id="options_{{comment.pk}}" 
                data-toggle="dropdown" title="Opções"></i>
            <ul class="dropdown-menu" role="menu" aria-labelledby="options_{{comment.pk}}">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remover</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Denunciar</a></li>
            </ul>
          </div>

          <p>
            <strong>{{ comment.publisher.username }}</strong> 
            <span class="text-muted" data-toggle="tooltip" data-placement="top" title="{{comment.published_at}}">disse há {{ comment.published_at|naturaltime }}</span>
            <i data-animation="rotateIn" id="recommend_comment_{{comment.pk}}" 
                class="star-gold pointer fa fa-star{% if not user|is_comment_recommended:comment %}-o{% endif %}"
                onclick="Dajaxice.core.recommend_comment(recommend_comment, {'pk': {{comment.pk}} })"
                data-toggle="tooltip" data-placement="top" title="{% if user|is_comment_recommended:comment %}Recomendado{% else %}Recomendar{% endif %}"
                >
            </i>
            <span id="total_recommends_comment_{{comment.pk}}" class="text-muted">{{comment.recommends.all|length}}</span>
          </p>
        	<p>
            {{ comment.text|safe }}
          </p>
          <div class="btn-group" role="group" aria-label="..." data-hover="item">
            <span class="text-success">
              <i id="like_comment_{{comment.pk}}" 
                  class="fa fa-thumbs{% if not user|is_comment_liked:comment %}-o{% endif %}-up fa-fw pointer" 
                  onclick="Dajaxice.core.like_comment(like_comment, {'pk': {{comment.pk}} })"></i>
              <span id="total_like_comment_{{comment.pk}}">{{comment.likes.all|length}}</span>
            </span>
            <span class="text-danger">
              <i id="unlike_comment_{{comment.pk}}" 
                  class="fa fa-thumbs{% if not user|is_comment_unliked:comment %}-o{% endif %}-down fa-fw pointer" 
                  onclick="Dajaxice.core.unlike_comment(unlike_comment, {'pk': {{comment.pk}} })"></i>
              <span id="total_unlike_comment_{{comment.pk}}">{{comment.unlikes.all|length}}</span>
            </span>
          </div>
          
      	</div><!-- /panel-body -->
    	</div><!-- /panel panel-default -->
  	</div><!-- /col-sm-5 -->
	</div><!-- /row -->
{% endfor %}