{% load humanize %}
{% load paginator %}
{% load filters %}
{% for post in object_list %}
  <article data-hover="group">
    <div class="row">
      <div class="col-xs-12">
        <h3>{{ post.title }}</h3>
        <p class="text-muted"><small>
          <i class="fa fa-user fa-fw"></i> por <a href="{{post.publisher.userprofile.get_absolute_url}}">{{ post.publisher }}</a> há 
          <i class="fa fa-clock-o fa-fw"></i> <span data-toggle="tooltip" data-placement="right" title="{{post.published_at}}">{{ post.published_at|naturaltime }}</span>
          <span class="pull-right" title="Recomendações">
            <span>{{post.recommends.all|length}}</span>
            <i class="star-gold fa fa-star{% if not user|is_post_recommended:post %}-o{% endif %}" data-animation="rotateIn">
            </i>
          </span>
        </small></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x100" alt="">
        </a>
      </div>
      <div class="col-md-8 col-xs-12">
        <p>{{ post.resume|safe }} <a class="btn" href="{{ post.get_absolute_url }}">Continue lendo...</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="text-muted" data-hover="item"><small>
              <i class="fa fa-comments-o fa-fw"></i> <a href="{{post.get_absolute_url}}#comments">{{post.comments.all|length}} Comentários</a>
          	  | <i class="fa fa-flag fa-fw"></i> <a class="text-{{post.category.color}}" href="{{post.category.get_absolute_url}}">{{post.category}}</a>
              | <i class="fa fa-tags fa-fw"></i>
                {% for tag in post.tags.all %} 
                  <a class="text-{{tag.color}}" href="{{tag.get_absolute_url}}">{{ tag.name }}</a> 
                {% endfor %}
                {% load pageviews_tags %}  | <i class="fa fa-eye fa-fw"></i> {% pageviews_url post.get_absolute_url %} page views
                </small></p>
      </div>
    </div>
  </article>
{% endfor %}
{% paginator %}